/**
 * [$color description]
 */
	$color: #F15A29;
    $color-hover: #d44413;
    $color-dark: #007066;
    $color-dark-hover: #005C53;
    $color-text: #252A31;
    $slate: #4a5264;
    $slate-hover: #3d4452;
    $border: #E9ECF1;

/**
 * [mixin description]
 */
	@mixin transition{
		transition: all 0.1s ease-out 0.1s;
		-webkit-transition: all 0.1s ease-out 0.1s;
	}

	@mixin textConver($a) {
	    display: -webkit-box;
	    -webkit-line-clamp: $a;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}
    
/**
 * [keyframes description]
 */
    @keyframes progress-animation {
        0% {width: 0%;}
        100% {width: 100%;}
    }
/**
 * [Global style description]
 */
	body{
		font-family: 'SVN-Circular';
		font-size: 16px;
        line-height: 24px;
		font-weight: normal;
		&.none-scroll{
			overflow: hidden;
		}
        @media (max-width: 767px){
            font-size: 14.5px;
            line-height: 1.4;
        }
	}
	
	a{cursor: pointer; pointer-events: auto}
	a{text-decoration: none;}	

	img{
		max-width: 100%;
	}
    sup{
        font-size: 60%;
    }

	@media (min-width: 1401px){
		.container{
			width: 1344px;
            max-width: 100%;
		}
	}
    @media (max-width: 767px){
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
            padding: 0 15px;
        }
    }

    .conn_relative{
        position: relative;
        z-index: 9;
    }

    .conn_flex{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }

    .conn_flex-center{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .conn_flex-cleft{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .conn_flex-end{        
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: flex-end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }
    .conn_flex-between{      
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
    }

    .conn_grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .conn_anim{
        transition: all 0.15s ease-out 0.15s;
        -webkit-transition: all 0.15s ease-out 0.15s;
    }

    .conn_pcenter{
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	margin: auto;
    }

    .conn_nowrap{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .conn_mcolor{
        color: $color !important;
    }
    .conn_heading{
        font: normal normal 500 40px/1.5 SVN-Circular;
        letter-spacing: 0px;
        margin: 0;
        @media (max-width: 992px){
            font-size: 32px;
        }
        @media (max-width: 450px){
            font-size: 24px;
        }
    }
    .conn_sheading{
        font: normal normal 500 32px/1.4 SVN-Circular;
        letter-spacing: 0px;
        margin: 0;
        @media (max-width: 992px){
            font-size: 26px;
        }
        @media (max-width: 450px){
            font-size: 22px;
        }
    }
    .conn_btext{
        font: normal normal 500 28px/1.3 SVN-Circular;
        color: #010101;
        @media (max-width: 992px){
            font-size: 24px;
        }
        @media (max-width: 450px){
            font-size: 20px;
        }
    }
    .conn_text{
        font: normal normal 300 20px/1.5 SVN-Circular;
        letter-spacing: 0px;
        color: #E5E5E5;
        max-width: 1100px;
        margin-top: 24px;
        @media (max-width: 992px){
            font-size: 18px;
        }
        @media (max-width: 450px){
            font-size: 16px;
        }
    }
    
    .conn_white{
        color: #fff;
        &:hover,
        &:focus{
            color: #fff;
        }
    }
    .conn_btn-more{
        display: table;
        margin: 32px auto auto;
        padding: 0 46px 0 48px;
        position: relative;
        background: rgba(#E5E5E5, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        font: normal normal bold 16px/48px SVN-Circular;
        color: #010001;
        text-align: center;
        cursor: pointer;
        pointer-events: auto;
        height: 48px;
        &.small-type{
            padding: 12px 20px;
            display: inline-block;
            @media (max-width: 767px){
                padding: 9px 20px;
            }
            &:hover{
                svg, img{
                    transform: rotate(180deg);
                }
            }
            svg, img{
                display: block;
                width: 24px;
                height: auto;
                transition: all 0.15s ease-out 0.15s;
                -webkit-transition: all 0.15s ease-out 0.15s;
            }
        }
        // @media (max-width: 767px){
        //     font-size: 14px;
        //     line-height: 42px;
        //     height: 42px;
        // }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            width: 4px;
            left: 0;
            bottom: 0;
            background: $color;
            transition: all 0.15s ease-out 0.15s;
            -webkit-transition: all 0.15s ease-out 0.15s;
        }
        &:hover{
            color: #fff;
            &:before{
                width: 100%;
            }
        }
    }
    .conn_btn-tmore{
        min-width: 200px;
        padding: 0 30px 0 34px;
        position: relative;
        background: rgba(#010001, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        font: normal normal bold 16px/48px SVN-Circular;
        color: #fff;
        text-align: center;
        cursor: pointer;
        pointer-events: auto;
        @media (max-width: 767px){
            font-size: 14px;
            line-height: 42px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            width: 4px;
            left: 0;
            bottom: 0;
            background: #fff;
            transition: all 0.15s ease-out 0.15s;
            -webkit-transition: all 0.15s ease-out 0.15s;
        }
        &:hover{
            color: $color;
            &:before{
                width: 100%;
            }
        }
    }

    
    .dropdown{
        &.active{
            .dropdown--current:after{
                transform: rotate(180deg);
            }
        }
        .dropdown--current{
            border-bottom: 2px solid #E5E5E5;
            padding: 14px 50px 14px 24px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            background: #fff;
            font: normal normal bold 16px/20px SVN-Circular;
            color: #999999;
            cursor: pointer;
            pointer-events: auto;
            position: relative;
            span{
                color: #010101;
            }
            &:after{
                content: '';
                width: 24px;
                height: 24px;
                background: url(../images/arrow-down.svg) center /cover;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 16px;
                margin: auto;
            }
        }
        .dropdown--options{
            background: #fff;
            position: absolute;
            top: 48px;
            left: 0;
            right: 0;
            border: 1px solid #CCCCCC;
            border-top-width: 3px;
            border-top-color: $color;
            z-index: 9;
            &.select-hide{
                display: none;
            }
        }
        .dropdown--search{
            padding: 12px 20px;
            position: relative;
            .search--icon{
                position: absolute;
                top: 0;
                left: 32px;
                bottom: 0;
                margin: auto;
            }
            input{
                font: normal normal normal 16px/24px SVN-Circular;
                width: 100%;
                line-height: 48px;
                color: #010101;
                height: 48px;
                border: 0;
                border-radius: 0;
                background: transparent;
                background: #F1F1F1;
                outline: none;
                padding: 0 48px;
                &::-webkit-input-placeholder {
                    color: #999;
                }                    
                &:-ms-input-placeholder {
                    color: #999;
                }                    
                &::placeholder {
                    color: #999;
                }
            }
            .search--reset{
                position: absolute;
                top: 0;
                right: 32px;
                bottom: 0;
                margin: auto;
                cursor: pointer;
                pointer-events: auto;
            }
        }
    }
    .dropdown--values{
        max-height: 228px;
        overflow: auto;
        @media (max-width: 767px){
            max-height: 115px;
        }
        @media (max-width: 450px){
            max-height: 165px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
        select{
            display: none;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                padding: 13px 50px 13px 24px;
                font: normal normal bold 16px/20px SVN-Circular;
                color: #4C4C4C;
                cursor: pointer;
                pointer-events: auto;
                position: relative;
                @include transition;
                &.same-as-selected{
                    color: $color;
                    pointer-events: none;
                    &:after{
                        transform: scale(1);
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &:hover{
                    color: $color;
                }
                &:after{
                    content: '';
                    width: 26px;
                    height: 26px;
                    background: url(../images/icon-check.svg) center /cover;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    right: 16px;
                    transform: scale(1.25);
                    opacity: 0;
                    visibility: hidden;
                    @include transition;
                }
            }
        }
    }
    .dropdown--checkboxes{
        max-height: 228px;
        overflow: auto;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
        @media (max-width: 767px){
            max-height: 115px;
        }
        @media (max-width: 450px){
            max-height: 165px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                label{
                    display: block;
                    padding: 13px 50px 13px 24px;
                    font: normal normal bold 16px/20px SVN-Circular;
                    color: #4C4C4C;
                    cursor: pointer;
                    pointer-events: auto;
                    @include transition;
                    position: relative;
                    &:hover{
                        color: $color;
                    }
                    input{
                        position: absolute;
                        top: 0;
                        opacity: 0;
                        &:checked ~ span:after{
                            transform: scale(1);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    span{
                        width: 24px;
                        height: 24px;
                        border: 2px solid $color;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: 20px;
                        &:after{
                            content: '';
                            background: url(../images/icon-checkbox.svg) center /cover;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            top: -2px;
                            bottom: -2px;
                            left: -2px;
                            right: -2px;
                            margin: auto;
                            transform: scale(1.25);
                            opacity: 0;
                            visibility: hidden;
                            @include transition;
                        }
                    }
                }
            }
        }
    }    
/**
 * Tooltip
 */
    [aria-label][role~="tooltip"] {
        position: relative
    }

    [aria-label][role~="tooltip"]::before,[aria-label][role~="tooltip"]::after {
        transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        opacity: 0;
        pointer-events: none;
        transition: all var(--microtip-transition-duration,.18s) var(--microtip-transition-easing,ease-in-out) var(--microtip-transition-delay,0s);
        position: absolute;
        box-sizing: border-box;
        z-index: 10;
        transform-origin: top;
        @media (max-width: 992px){
            display: none;
        }
    }

    [aria-label][role~="tooltip"]::before {
        background-size: 100% auto!important;
        content: ""
    }

    [aria-label][role~="tooltip"]::after {
        background: rgba(#010001, 0.75);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0;
        color: #fff;
        content: attr(aria-label);
        font-size: var(--microtip-font-size,12px);
        font-weight: var(--microtip-font-weight,normal);
        text-transform: var(--microtip-text-transform,none);
        padding: 11px 12px;
        white-space: nowrap;
        box-sizing: content-box
    }

    [aria-label][role~="tooltip"]:hover::before,[aria-label][role~="tooltip"]:hover::after,[aria-label][role~="tooltip"]:focus::before,[aria-label][role~="tooltip"]:focus::after {
        opacity: 1;
        pointer-events: auto
    }

    [role~="tooltip"][data-microtip-position|="top"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 6px;
        width: 18px;
        margin-bottom: 5px
    }

    [role~="tooltip"][data-microtip-position|="top"]::after {
        margin-bottom: 11px
    }

    [role~="tooltip"][data-microtip-position|="top"]::before {
        transform: translate3d(-50%,0,0);
        bottom: 100%;
        left: 50%
    }

    [role~="tooltip"][data-microtip-position|="top"]:hover::before {
        transform: translate3d(-50%,-5px,0)
    }

    [role~="tooltip"][data-microtip-position|="top"]::after {
        transform: translate3d(-50%,0,0);
        bottom: 100%;
        left: 50%
    }

    [role~="tooltip"][data-microtip-position="top"]:hover::after {
        transform: translate3d(-50%,-5px,0)
    }

    [role~="tooltip"][data-microtip-position="top-left"]::after {
        transform: translate3d(calc(-100% + 16px),0,0);
        bottom: 100%
    }

    [role~="tooltip"][data-microtip-position="top-left"]:hover::after {
        transform: translate3d(calc(-100% + 16px),-5px,0)
    }

    [role~="tooltip"][data-microtip-position="top-right"]::after {
        transform: translate3d(calc(0% + -16px),0,0);
        bottom: 100%
    }

    [role~="tooltip"][data-microtip-position="top-right"]:hover::after {
        transform: translate3d(calc(0% + -16px),-5px,0)
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 6px;
        width: 18px;
        margin-top: 5px;
        margin-bottom: 0
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::after {
        margin-top: 11px
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::before {
        transform: translate3d(-50%,-10px,0);
        bottom: auto;
        left: 50%;
        top: 102%
    }

    [role~="tooltip"][data-microtip-position|="bottom"]:hover::before {
        transform: translate3d(-50%,0,0)
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::after {
        transform: translate3d(-50%,-10px,0);
        top: 100%;
        left: 50%
    }

    [role~="tooltip"][data-microtip-position="bottom"]:hover::after {
        transform: translate3d(-50%,0,0)
    }

    [role~="tooltip"][data-microtip-position="bottom-left"]::after {
        transform: translate3d(calc(-100% + 16px),-10px,0);
        top: 100%
    }

    [role~="tooltip"][data-microtip-position="bottom-left"]:hover::after {
        transform: translate3d(calc(-100% + 16px),0,0)
    }

    [role~="tooltip"][data-microtip-position="bottom-right"]::after {
        transform: translate3d(calc(0% + -16px),-10px,0);
        top: 100%
    }

    [role~="tooltip"][data-microtip-position="bottom-right"]:hover::after {
        transform: translate3d(calc(0% + -16px),0,0)
    }

    [role~="tooltip"][data-microtip-position="left"]::before,[role~="tooltip"][data-microtip-position="left"]::after {
        bottom: auto;
        left: auto;
        right: 100%;
        top: 50%;
        transform: translate3d(10px,-50%,0)
    }

    [role~="tooltip"][data-microtip-position="left"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 18px;
        width: 6px;
        margin-right: 5px;
        margin-bottom: 0
    }

    [role~="tooltip"][data-microtip-position="left"]::after {
        margin-right: 11px
    }

    [role~="tooltip"][data-microtip-position="left"]:hover::before,[role~="tooltip"][data-microtip-position="left"]:hover::after {
        transform: translate3d(0,-50%,0)
    }

    [role~="tooltip"][data-microtip-position="right"]::before,[role~="tooltip"][data-microtip-position="right"]::after {
        bottom: auto;
        left: 100%;
        top: 50%;
        transform: translate3d(-10px,-50%,0)
    }

    [role~="tooltip"][data-microtip-position="right"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 18px;
        width: 6px;
        margin-bottom: 0;
        margin-left: 5px
    }

    [role~="tooltip"][data-microtip-position="right"]::after {
        margin-left: 11px
    }

    [role~="tooltip"][data-microtip-position="right"]:hover::before,[role~="tooltip"][data-microtip-position="right"]:hover::after {
        transform: translate3d(0,-50%,0)
    }

    [role~="tooltip"][data-microtip-size="small"]::after {
        white-space: initial;
        width: 80px
    }

    [role~="tooltip"][data-microtip-size="medium"]::after {
        white-space: initial;
        width: 150px
    }

    [role~="tooltip"][data-microtip-size="large"]::after {
        white-space: initial;
        width: 260px
    }
